#side-navigation li.side-navigation-item {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#side-navigation li.side-navigation-item a.active {
  text-decoration: underline;
  text-underline-offset: 1p;
}

#side-navigation li.side-navigation-item:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}
